.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6rem;

    font-family: var(--font-mono);
}

.title {
    display: block;
    margin: 0 0 2rem 0;
    font-size: 3rem;
}

.entry {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
}

.label {
    display: block;
    margin: 0 0 1rem 0;
    font-size: 1rem;
}

.textarea {
    display: block;
    width: 100%;
    min-height: 6rem;
    margin: 0 0 1rem 0;
    padding: .8rem 1rem;
    font-size: .8rem;
}

.hint {
    display: block;
    margin: 0 0 1rem 0;
    font-size: .8rem;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.button {
    display: block;
    padding: .5rem;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}

.results {
    display: block;
    width: 100%;
    margin: 2rem 0;
    padding: 2rem 0;
    font-size: .8rem;
    font-family: var(--font-mono);
}

.meta {
    opacity: .5;
}
